<a href="https://colab.research.google.com/github/quandat10/DataScienceDevC/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

# SF Salaries Exercise 

Explore San Francisco city employee salary data.

## Overview

One way to understand how a city government works is by looking at who it employs and how its employees are compensated. This data contains the names, job title, and compensation for San Francisco city employees on an annual basis from 2011 to 2014.



Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

## Resources

[Pandas API Reference](https://pandas.pydata.org/pandas-docs/stable/api.html)

[NumPy Reference](https://docs.scipy.org/doc/numpy/reference/)

[Visualization with Seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html)

**Import libraries**

In [1]:
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

**Read `Salaries.csv` as a dataframe called `sal`.**

In [2]:
link = "https://s3-ap-southeast-1.amazonaws.com/intro-to-ml-minhdh/Salaries.csv"
sal = pd.read_csv(link)

**Check the head of the DataFrame.**

In [3]:
sal.head(10)

   Id        EmployeeName  ...         Agency  Status
0   1      NATHANIEL FORD  ...  San Francisco     NaN
1   2        GARY JIMENEZ  ...  San Francisco     NaN
2   3      ALBERT PARDINI  ...  San Francisco     NaN
3   4   CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5     PATRICK GARDNER  ...  San Francisco     NaN
5   6      DAVID SULLIVAN  ...  San Francisco     NaN
6   7           ALSON LEE  ...  San Francisco     NaN
7   8       DAVID KUSHNER  ...  San Francisco     NaN
8   9      MICHAEL MORRIS  ...  San Francisco     NaN
9  10  JOANNE HAYES-WHITE  ...  San Francisco     NaN

[10 rows x 13 columns]

**Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

Keyword: [mean](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mean.html)

In [5]:
sal.BasePay.mean()

66325.44884050643

**What is the lowest and highest amount of BasePay?**

Keyword: 
[min](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html) , 
[max](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.max.html)

In [6]:
sal.BasePay.min()

-166.01

In [7]:
sal.BasePay.max()

319275.01

**How about OvertimePay in the dataset? What is the average, lowest, highest amount?**

In [8]:
# Your Code Here
sal.OvertimePay.mean()

5066.059886444622

In [9]:
# Your Code Here
sal.OvertimePay.min()

-0.01

In [11]:
# Your Code Here
sal.OvertimePay.max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [20]:
# Your Code Here
sal[sal.EmployeeName ==  "JOSEPH DRISCOLL" ].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [21]:
# Now try to select Employees who have name "GARY JIMENEZ"
# Your Code Here
sal[sal.EmployeeName ==  "GARY JIMENEZ" ].JobTitle

1    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [27]:
# Your Code Here
sal[sal.EmployeeName == "JOSEPH DRISCOLL"].TotalPay

24    270324.91
Name: TotalPay, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [34]:
# Your Code Here
sal.iloc[sal.TotalPayBenefits.argmax()].EmployeeName

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [37]:
# Your Code Here
sal.iloc[sal.TotalPayBenefits.argmin()].EmployeeName

'Joe Lopez'

### His benefits were negative

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**
Keyword: _groupby_

In [ ]:
# Your Code Here

**How many unique job titles are there?**

Keyword: _unique, nunique_

In [ ]:
# Your Code Here

**What are the top 5 most common jobs?**

Keyword: *value_counts*

In [ ]:
# Your Code Here

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
# Your Code Here

**How many people have the word Chief in their job title?**

In [ ]:
# Your Code Here

## Data Visualization

**Implement seaborn's countplot with x='Year'**

In [ ]:
sns.countplot(x = "Year", data=sal)

**Implement seaborn's distplot for BasePay of Year 2011**

In [ ]:
sns.distplot(sal[sal["Year"] == 2011]["BasePay"], bins = 30);

**How about other Year**

In [ ]:
# Your Code Here for 2012

In [ ]:
# Your Code Here for 2013

In [ ]:
# Your Code Here for 2014

## Bonus

**Visualize top 5 Jobs with BasePay, Benefits and OvertimePay**

Keyword: *index, isin, groupby, mean, plot*

In [ ]:
# Your Code Here

In [ ]:
# Your Code Here

**Fun Fact: Is there a correlation between length of the Job Title string and Salary?**

*Hint: corr()*

In [ ]:
# Your Code Here

# Great Job!